extends ../layout

block content

  .account

    .account-top

      .profile-information
        .page-header
          h3 Profile Information
        form.form-horizontal(action='/account/profile', method='POST')
          input(type='hidden', name='_csrf', value=token)
          .form-group
            label.control-label(for='email') Email
            span
              input.form-control(type='email', name='email', id='email', value='#{user.email}')
          .form-group
            label.control-label(for='name') Name
            span
              input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')
          .form-group
            span
              button.btn.btn.btn-primary(type='submit')
                i.fa.fa-magnet
                | Update Profile

      .linked-accounts
        .page-header
          h3 Linked Accounts
        form.form-horizontal
          if secrets.facebookAuth
            if user.facebook
              .form-group
                label.control-label(for='fb-link') Facebook
                span
                  a.btn.btn-danger(href='/account/unlink/facebook') Unlink your Facebook account
            else
              .form-group
                label.control-label(for='fb-link') Facebook
                span
                  a.btn.btn-primary(href='/auth/facebook') Link your Facebook account
          if secrets.paypal
            if user.paypal
              .form-group
                label.control-label(for='paypal-link') Paypal
                span
                  a.btn.btn-danger(href='/account/unlink/paypal') Unlink your Paypal account
            else
              .form-group
                label.control-label(for='paypal-link') Paypal
                span
                  a.btn.btn-primary(href='/auth/paypal') Link your Paypal account

    hr

    .account-bottom
      details
        summary.btn.btn-danger Change Password / Delete Account
        div
          .change-password
            if secrets.localAuth
              .page-header
                h3 Change Password
              form.form-horizontal(action='/account/password', method='POST')
                input(type='hidden', name='_csrf', value=token)
                .form-group
                  label.control-label(for='password') New Password
                  span
                    input.form-control(type='password', name='password', id='password')
                .form-group
                  label.control-label(for='confirmPassword') Confirm Password
                  span
                    input.form-control(type='password', name='confirmPassword', id='confirmPassword')
                .form-group
                  span
                    button.btn.btn.btn-primary(type='submit')
                      i.fa.fa-keyboard-o
                      | Change Password

          .delete-account
            .page-header
              h3 Delete Account
            p You can delete your account, but keep in mind this action is irreversible.
            form(action='/account/delete', method='POST')
              input(type='hidden', name='_csrf', value=token)
              button.btn.btn-danger(type='submit')
                i.fa.fa-trash-o
                | Delete my account
